<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="fsWebS_SEN.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation defaultLanguage="vb" debug="true" targetFramework="4.7.2" />
        <customErrors mode="RemoteOnly" />
	        <authentication mode="Forms">
		        <forms loginUrl="Login.aspx" protection="All" path="/" timeout="30" />
    	    </authentication>  
        <authorization>
	        <deny users="?" />
            <allow users="*" />
        </authorization>
        <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
        <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
        <xhtmlConformance mode="Legacy" />
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <httpRuntime targetFramework="4.7.2" maxRequestLength="1048576" executionTimeout="3600" />
    </system.web>
    <location path="Logo.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
	    </security>
    </system.webServer>
    <applicationSettings>
        <fsWebS_SEN.My.MySettings>
            <setting name="DirImagenes" serializeAs="String">
                <value>D:\PdfSIMA\Senado\</value>
            </setting>
            <setting name="DirTemporal" serializeAs="String">
                <value>C:\prov\</value>
            </setting>
            <setting name="LogoCliente" serializeAs="String">
                <value>D:\Users\Files\source\repos\Visual Studio 2019\fsWebS_SEN\LogoSenado-LXV.png</value>
            </setting>
            <setting name="BaseDatos" serializeAs="String">
                <value>SIMA_Senado</value>
            </setting>
            <setting name="LongitudMaximaArchivoDescarga" serializeAs="String">
                <value>20971520</value>
            </setting>
            <setting name="RegistrosMaximos" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ImagenNuevaVentana" serializeAs="String">
                <value>True</value>
            </setting>
        </fsWebS_SEN.My.MySettings>
    </applicationSettings>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>